@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
* {
    box-sizing: border-box;

    padding: 0;

    margin: 0;

    font-family: "Space Grotesk", sans-serif;

    ul,
    ol {
        list-style: none;
    }

    li {
        text-decoration: none;
    }

    html,
    body {
        
    }

    line-height: 1;
}

body[data-stuck="true"] {
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;

    cursor: pointer;
}

p {
    color: rgba(217, 217, 217, 1);
}

h1 {
    color: white;
}

h2 {
    color: white;
    padding-top: 20px;
}

button {
    border: none;

    width: auto;

    overflow: visible;

    background: transparent;

    color: inherit;

    font: inherit;

    line-height: normal;
}
button {
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
}
