.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    
    &__projects {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 80px;
        margin-right: 20px;

        @media(min-width: 768px){
            margin-bottom: 30px;
            margin-top: 15px;
            justify-content: space-between;
           
            
        }

        @media(min-width: 1440px){
            display: flex;
           justify-content: space-between;
           
        }
    }
    

    &__title1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1.136px;

        @media(min-width: 768px){
            font-size: 72px;
            font-weight: 700;
            line-height: 72px;
            letter-spacing: -2.045px;
            margin-left: 16px;
        }

        @media(min-width: 1440px){
            font-size: 88px;
            font-weight: 700;
            line-height: 88px;
            letter-spacing:-2.5px;
            margin-left: 150px;
           

        }
    }

    &__bitmap{
        @media (min-width: 1440px){
            opacity: 0.4;
            margin-bottom: 69px;
        }
    }

    &__bitmap2{
        @media (min-width: 1440px){
            opacity: 0.4;
            margin-bottom: 69px;
        }
    }

    &__bitmap3{
        @media (min-width: 1440px){
            margin-bottom: 69px;
        }
    }

    &__anchor {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2.286px;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: rgba(78, 225, 160, 1);
        margin-bottom: 80px;
        padding-bottom: 5px;

        @media (min-width: 768px){
            margin-top: 11px;
        }

        @media (min-width: 1440px){
            margin-top: 40px;
            margin-right: 132px;
           
        }
    }

       
        
    &__allCards {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @media (min-width: 1440px){
            gap: 30px;
        }
    }
            

    

    &__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        line-height: 32px; 
    }
        

    &__img{
        width: 100%;
        height: 253px;

        @media(min-width: 768px){
            width: 345px;
            height: 253px;
        }

        @media(min-width: 1440px){
            width: 540px;
            height: 400px;
        }
    }

    

}
        