.Icons{
        display: flex;
        padding-top: 20px;

        @media (min-width: 768px) {
              
        position: absolute;
        left: 490px;
        background: rgba(36, 36, 36, 1);
         width: 280px;
         height: 70px;
         
       
            
        }
    
        

}