.Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    &__container {
        display: flex;
        width: 174px;
        height: 284.6px;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(
            180deg,
            rgba(36, 36, 36, 0) 0.65%,
            #242424 100%
        );
        &__img {
            margin-top: 49px;
            width: 100%;
            height: auto;
        }
    }
    &__lines {
        position: absolute;
        bottom: 70%;
        right: 50%;
        z-index: -1;
    }
    &__Oval {
        position: absolute;
        left: 85%;
        top: 27.5%;
    }

    &__introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        &__title {
            color: white;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 40px;
            
            &__underline{
                text-decoration-color:rgb(78, 225, 160);
            }
           
        }

        &__paragraph {
            text-align: center;
            padding: 0 16px;
        }

        &__anchor {
            text-transform: uppercase;
            color: white;
            margin-top: 24px;
            border-width: 0 0 2px 0;
            border-style: solid;
            border-color: rgba(78, 225, 160, 1);
            margin-bottom: 80px;
            padding-bottom: 5px;
            
        }
    }
hr{
    border-bottom: 1px solid white;
}
}
