@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

.header {
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;

    &__container {
        display: flex;
        width: 200px;
        height: 400px;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(
            180deg,
            rgba(36, 36, 36, 0) 0.65%,
            #242424 100%
        );
        @media (min-width: 768px) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
            padding: 0 30px;
            background: unset;
        }
        &__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            text-align: center;
            color: white;
            margin-top: 20px;
            @media (min-width: 768px) {
            }
        }

        &__picture{
            width: 200px;
            height: 400px;
            background: linear-gradient(
            180deg,
            rgba(36, 36, 36, 0) 0.65%,
            #242424 100%
        );
            &__group {
            align-items: center;
            margin-top: 20px;
            margin-left: 30px;
            @media (min-width: 768px) {
                
                background: linear-gradient(
                    180deg,
                    rgba(36, 36, 36, 0) 0.65%,
                    #242424 100%
                );
                
            }
        }

        }

        
    }
}
