.footer {
    margin-top: 39px;
    margin-bottom: 60px;
    padding: 0 123px;

    @media (min-width: 768px) {
        margin-bottom: 50px;
    }

    &__Container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 39px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            margin-top: -20px;
            margin-bottom: -20px;
        }

        @media (min-width: 1440px) {
            margin-left: 47px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.333px;
        margin-bottom: 10px;

        @media(min-width: 768px){
            margin-left: -10px;
            margin-right: 390px;
        }
       
    }
}
