.footer {
    margin-top: 39px;
    margin-bottom: 60px;

    @media (min-width: 768px) {
        margin: 0 auto;
        padding-top: 0px;
        margin-bottom: 30px;
        margin-top: 9px;
        max-width: 768px;
    }

    @media (min-width: 1440px) {
        gap: 180px;
        max-width: 1440px;
        margin-bottom: 0;
    }

    &__containerGrey {
        display: flex;
        align-items: center;
        flex-direction: column;
        // margin-top: 39px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }

        @media (min-width: 1440px) {
            justify-content: space-between;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.333px;

        @media (min-width: 768px) {
            // margin-right: 365px;
        }

        @media (min-width: 1440px) {
            // margin-right: 385px;
        }
    }
}
