.footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    padding: 0 123px;

    @media (min-width: 768px) {
        margin-bottom: 40px;
        margin-left: 30px;
        margin-right: 30px;
    }

    &__Container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 39px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
             gap: 370px;
            
        }

        @media (min-width: 1440px) {
           gap: 750px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.333px;
        color: white;

        @media (min-width: 768px) {
           
        }

        @media(min-width: 1440px){
           
        }
    }
}
