.Contact {
    text-align: center;
    margin-top: 60px;
    // position: relative;

    @media (min-width: 768px) {
        margin-left: 162px;
        margin-right: 161px;
    }

    @media (min-width: 1440px) {
        display: flex;
        margin-right: 135px;
        margin-left: 145px;
        margin-top: 160px;
    }

    &__Container {
        @media (min-width: 1440px) {
            display: flex;
            flex-direction: column;
            margin-right: 222px;
        }
    }

    &__title {
        margin-bottom: 20px;
        @media (min-width: 768px) {
            font-size: 72px;
            font-weight: 700;
            line-height: 72px;
            letter-spacing: -2.045px;
        }
        @media (min-width: 1440px) {
            text-align: left;
            font-size: 88px;
            font-weight: 700;
            line-height: 88px;
            letter-spacing: -2.5px;
            margin-left: 5px;
            margin-bottom: 36px;
        }
    }

    &__paragraph {
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        padding: 0 16px;
        text-align: center;

        @media (min-width: 1440px) {
            text-align: justify;
        }
    }

    &__line3 {
        position: absolute;
        left: -23px;
        bottom: -4370px;

        @media (min-width: 768px) {
            left: 0;
            bottom: -2770px;
        }

        @media(min-width: 769px) and (max-width: 1439px){
            left: 0;
            bottom: -2790px;
        }

        @media (min-width: 1440px) {
            left: 0px;
            bottom: -3050px;
        }
    }

    &__Form {
        position: relative;
        padding: 15px 0 0;
        margin: 0 auto;
        width: 100%;
        padding: 0 16px;
        max-width: 375px;
        text-align: center;
    }

    &__labelName {
        margin-left: 20px;
    }

    &__labelEmail {
        margin-left: 20px;
    }

    &__labelMessage {
        margin-left: 20px;
    }

    &__Name {
        width: 100%;
        border: 0;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 2px solid rgba(255, 255, 255, 0.281);
        outline: 0;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.281);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        height: 60px;
    }

    &__Email {
        width: 100%;
        border: 0;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 2px solid rgba(255, 255, 255, 0.281);
        outline: 0;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.281);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        height: 60px;
        margin-top: 32px;
    }

    &__Message {
        width: 100%;
        border: 0;
        height: 107px;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 2px solid rgba(255, 255, 255, 0.281);
        outline: 0;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.281);
        padding: 7px 0;
        margin-top: 32px;
        background: transparent;
        transition: border-color 0.2s;
    }

    &__Field {
        width: 100%;
        border: 0;
        outline: 0;
        font-size: 1.3rem;
        color: white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        & input::placeholder {
            color: white;
        }
    }

    &__submit {
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        margin-left: auto;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2.286px;
        margin-right: 0px;
        margin-top: 32px;
        margin-bottom: 87px;
        color: rgba(255, 255, 255, 1);
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: rgba(78, 225, 160, 1);
        padding-bottom: 10px;

        @media (min-width: 768px) {
        }

        @media (min-width: 1440px) {
            margin-bottom: 92px;
            margin-right: 0px;

            &:hover {
                color: rgba(78, 225, 160, 1);
            }
        }
    }
}

.hr {
    margin-left: 16px;
    margin-right: 16px;
    border-width: 1px;
    opacity: 0.5;

    @media (min-width: 768px) {
        max-width: 768px;
        margin-right: 1px;
        margin-left: 1px;
        // padding: 0 32px;
        border-width: 1px;
        opacity: 0.5;
    }

    @media (min-width: 769px) and (max-width: 1439px) {
        margin-right: 11px;
        margin-left: 1px;
    }

    @media (min-width: 1440px) {
        max-width: 1440px;
        margin-right: 120px;
        margin-left: 158px;
        opacity: 1;
    }
}
